{% extends "app/layout.html" %}

{% block content %}
<div class="formadditem" >
    <br>
    <hi><p><strong>Item Added!</strong></p></hi>  

    <p>Item ID: {{ item_id }}</p>
    <!-- <p>Vendor ID: {{ vendor_id }}</p> -->
    <p>Item Name: {{ item_name }}</p>
    <p>Item Description: {{ item_description }}</p>
    <p>Item Quantity: {{ item_quantity }}</p>
    <p>Item Price: {{ item_price }}</p>

    <form class="additemsubmission margintop" action="additemdetails" method="POST">
        <div class="margintop">
            <a class="btn btn-danger btn-square buttonsize" href="/menu">Cancel</a>
        </div>

    </form>

</div>

{% endblock %}
