{% extends "app/layout.html" %}

{% block content %}


<style>
 table, th,td {
    padding:15px;
} 

th {
    background-color: #70A1FE;
    color: white;

}
tr{
    border:1px solid;
    border-color: #70A1FE;
}
tr > td {
    min-width: 200px;
    /* border: 1px solid black; */
}
tr > td:first-child {
    min-width: 600px;
}

.search{
    float:right;
}

.input[type=text]{
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: 1px solid;
    font-size:17px;

 }
 search button{
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
 }

 .search button:hover{
    background: #ccc;
 }
</style>
<div>
    <h2>View Purchase Order List</h2>
    <br/>
  <form class="margintop" action = 'searchItem' method='POST'>
    {% csrf_token %} 
    <input type="text" placeholder="Search here..." aria-label="Search here.." name = "searched")>
    <button class="btn btn-outline-secondary">Search</button>
    </form>
    <br/>


<table>

<thead>
    <th>Purchase Order ID</th>
    <th>Item ID</th>
    <th>Item Price</th>
    <th>Status</th>
</thead>
{% for po in po_list %}
    {% if po.item_price >= 1 %}
    <tr>
        <td>{{po.po_id}}</td>
        <td>{{po.item_id}}</td>
        <td>{{po.item_price}}</td>
        <td>{{po.po_status}}</td>
    </tr>
    {% endif %}
{% endfor %}


</div>
</table>

<form class="margintop" action='backtoHome' method='GET'>
  <button type="submit" class="btn btn-info">Back</button><br />
</form>
{% endblock %}